{
  "extends": ["plugin:react/recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": false,
    "parser": "@babel/eslint-parser"
  },
  "plugins": ["babel", "react", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "off",
    "indent": ["error", 2, { "SwitchCase": 1 } ],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-unused-vars": 1,
    "react/prop-types": ["error", { "ignore": ["dispatch"], "skipUndeclared":true }],
    "function-call-argument-newline": ["error", "consistent"]
  }
}
