{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "@typescript-eslint"],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "off",
    "indent": ["error", 2, { "SwitchCase": 1 } ],
    "semi": ["error", "always"],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "no-unused-vars": 1,
    "react/prop-types": ["error", { "ignore": ["dispatch"], "skipUndeclared":true }],
    "function-call-argument-newline": ["error", "consistent"]
  }
}
